.about-container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
}

.about-content {
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.about-logo {
  width: 450px;
  height: auto;
  right: 30%;
  position: relative;
  margin-top: 35px;
}

.about-card {
  background-color: #0dc572; /* Light green background */
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10%;
}

.pink-card {
  background-color: #d82688; /* Light pink background */
  position: relative;
  right: 30%;
  bottom: 40px;
}

.about-card p {
  margin: 0;
  color: white; /* Change text color inside the card */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .about-container {
    background-image: url('../../assets/aboutmobile.jpg');
  }

  .about-content {
    transform: translateY(0);
    gap: 10px;
  }

  .about-logo {
    width: 150px; /* Make the logo smaller on mobile */
    margin-top: 20px;
    right: 0; /* Center the logo on mobile */
  }

  .about-card {
    width: 190px; /* Make the cards smaller on mobile */
    height: 190px;
    right:10% ; /* Center the cards on mobile */
  }
.pink-card{
  width: 170px; /* Make the cards smaller on mobile */
  height: 170px;
  right: -20% ; /* Center the cards on mobile */
}

  .about-card p, .pink-card p {
    font-size: 0.7rem; /* Smaller font size for mobile */
  }
}

@media (min-width: 768px) {
  .about-container {
    background-image: url('../../assets/aboutdesktop.jpg');
  }

  .about-card p, .pink-card p {
    font-size: 1rem; /* Ensuring font size for desktop */
  }
}
