@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.bg-navbar-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

.popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  display: none;
  font-size: 1.3rem;
  width: auto;
}

.popup.show {
  display: block;
}

.perrito-area {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 15%;
  height: 30%;
}

.gatito-area {
  position: absolute;
  top: 30%;
  left: 70%;
  width: 20%;
  height: 30%;
}

.popup-perrito {
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.popup-gatito {
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/* Estilos para el menú */
.navbar {
  background-color: #EFB643;
  width: 100%;
  height: 40px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
}

.navbar-links {
  display: none;
}

.navbar-links a {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
}

.menu-icon {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EFB643;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding-top: 70px;
  color: white; 
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 767px) {
  .bg-navbar-bg {
    background-image: url('/src/assets/herobannermobile.jpg'); /* Ruta a tu imagen de fondo móvil */
    background-size: cover;
    background-position: center;
    height: auto; /* Permite que la altura sea automática */
    min-height: 100vh; /* Asegura que tenga una altura mínima de 100vh */
  }

  .logo {
    height: 50px;
    width: auto;
  }
  .popup {
    font-size: 0.9rem;
  }

  .popup-perrito {
    top: 10%; /* Ajusta esta posición según sea necesario */
    right: 35%;
  }

  .popup-gatito {
    top: 50%; /* Ajusta esta posición según sea necesario */
    left: 35%;
  }

  .perrito-area {
    top: 50%;
    left: 30%; /* Ajusta esta posición según sea necesario */
  }

  .gatito-area {
    top: 70%;
    left: 60%;  /* Ajusta esta posición según sea necesario */
  }
}

@media (min-width: 768px) and (max-width: 1030px) {
  .bg-navbar-bg {
    background-image: url('/src/assets/herobannermobile.jpg'); /* Ruta a tu imagen de fondo móvil */
    background-size: cover;
    background-position: center;
    height: auto; /* Permite que la altura sea automática */
    min-height: 100vh; /* Asegura que tenga una altura mínima de 100vh */
  }

  .logo {
    height: 40px;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .bg-navbar-bg {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .logo {
    height: 40px;
    width: auto;
  }
}
